perf.data*
benchmarks/ribbon-results*.txt
benchmarks/**/results_*.txt
benchmarks/log_*
benchmarks/logs_*
auto/
.cache/
*.aux
*.log
*.fls
*.synctex.gz
*.fdb_latexmk

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
